<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nooo</key>
	<integer>0</integer>
	<key>Alright</key>
	<integer>0</integer>
	<key>Ugly Ass Kids</key>
	<integer>0</integer>
	<key>Long Dick</key>
	<integer>0</integer>
	<key>Go Lil Bitch</key>
	<integer>0</integer>
	<key>Pineapples</key>
	<integer>0</integer>
	<key>SpongeBob</key>
	<integer>0</integer>
	<key>Cousin Al</key>
	<integer>0</integer>
	<key>Vid 1</key>
	<integer>0</integer>
	<key>Vid 2</key>
	<integer>0</integer>
</dict>
</plist>
